/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    overflow: hidden;
}

/* Background Grid Teknologi */
.tech-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    background:
        linear-gradient(rgba(0,255,255,0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,255,255,0.08) 1px, transparent 1px);

    background-size: 50px 50px;
    animation: gridMove 20s linear infinite;
}

/* Animasi Grid Bergerak */
@keyframes gridMove {
    from { background-position: 0 0; }
    to { background-position: 50px 50px; }
}

/* Gear Style */
.gear {
    position: absolute;
    border-radius: 50%;
    border: 6px solid cyan;
    box-shadow: 0 0 25px cyan;
    opacity: 0.25;
    animation: rotateGear linear infinite;
}

/* Ukuran & posisi */
.gear1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 8%;
    animation-duration: 15s;
}

.gear2 {
    width: 280px;
    height: 280px;
    bottom: 5%;
    right: 10%;
    animation-duration: 25s;
}

.gear3 {
    width: 120px;
    height: 120px;
    top: 60%;
    left: 45%;
    animation-duration: 10s;
}

/* Animasi Putar */
@keyframes rotateGear {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
